<div class="container-fluid px-4">
  <h1 id="one-title" class="mt-4" data-i18n-key="spool">Spool</h1>
  <div class="card mb-4">
    <div class="card-body" data-i18n-key="waitingDisclaimer">
      A queued email is simply an email that has been issued and is waiting to be sent. There can be many reasons why the email has not been sent yet, such as an invalid recipient address, the recipient's server not responding... If the messages are in this queue, a new attempt will be made to send them.    </div>
  </div>
  <div id="alert" role="alert"></div>
  <div id="spools">
    <div class="card mb-4" id="noSpool">
      <div class="card-body text-center" data-i18n-key="noneWaiting">
        No messages waiting
      </div>
    </div>
  </div>
</div>
