<div class="container-fluid px-4">
  <div class="row my-4">
    <h1 class="col-3" data-i18n-key="transport">Transport</h1>
    <div class="col-2">
      <div class="form-check form-switch mt-4 ">
        <input class="form-check-input" type="checkbox" id="switchMapway">
        <label class="form-check-label" for="switchMapway" data-i18n-key="mapRoute">Mapping by way</label>
      </div>
    </div>
    <div class="col-2">
      <div class="form-check form-switch mt-4 ">
        <input class="form-check-input" type="checkbox" id="switchMapserv">
        <label class="form-check-label" for="switchMapserv" data-i18n-key="mapServer">Mapping by server</label>
      </div>
    </div>
  </div>
  <div class="card mb-4" id="mapway">
    <div class="card-header">
      <h2 data-i18n-key="routemapping"><i class="fa fa-map-signs me-1"></i><span data-i18n-key="mapRoute">Mapping by Way</span></h2>
      <div class="card-body" id="routemapping">
        <span data-i18-n-key="WIP">Work in progress</span>
      </div>
    </div>
  </div>
  <div class="card mb-4" id="mapserv">
    <div class="card-header">
      <h2 data-i18n-key="mapping"><i class="fa fa-server me-1"></i><span data-i18n-key="mapServer">Mapping by Server</span></h2>
      <div class="card-body" id="mapping">
        <span data-i18-n-key="WIP">Work in progress</span>
      </div>
    </div>
  </div>
  <div class="alert alert-dark" role="alert" data-i18n-key="routesDisclaimer">
    Warning: Routes should be modified with great care, as it can have a strong impact on the deliverability of your
    emails.
  </div>
  <div id="alert" role="alert"></div>
  <div class="card mb-4">
    <div class="card-header">
      <h2 data-i18n-key="mapList">
        <i class="fas fa-bus me-1"></i>
        List of transport map - listing applied to servers
      </h2>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center" data-i18n-key="server">Server</th>
            <th class="text-center" data-i18n-key="type">Type</th>
            <th class="text-center" data-i18n-key="search">Search</th>
            <th class="text-center" data-i18n-key="destination">Destination</th>
            <th class="text-center" data-i18n-key="addBy">Added by</th>
            <th class="text-center" data-i18n-key="addDate">Added date</th>
            <th class="text-center" data-i18n-key="action">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr id="BlacklistForm" class="visibleByRole" data-visibility="admin">
            <td class="form-group">
              <select name="hostname" id="hostname" type="select" class="d-none d-sm-inline-block btn btn-sm shadow-sm">
              </select>
            </td>
            <td class="form-group">
              <select type="select" id="search_regex" class="d-none d-sm-inline-block btn btn-sm shadow-sm"
                name="search_regex">
                <option value="0" data-i18n-key="normal">normal</option>
                <option value="1" data-i18n-key="regex">regex</option>
              </select>
            </td>
            <td class="form-group">
              <input type="text" class="form-control" id="search" name="search" placeholder="retzo.net"
                data-i18n-key="searchHelp">
            </td>
            <td class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="transport">smtp:</span>
                </div>
                <input id="nexthop" type="text" class="form-control" placeholder="mailgw1.retzo.net:25"
                  aria-label="nexthop" aria-describedby="transport" data-i18n-key="destinationHelp">
              </div>
            </td>
            <td class="form-group">
              <span class="form-control text-secondary" data-i18n-key="yourself">Yourself</span>
            </td>
            <td class="form-group">
              <span class="form-control text-secondary" id="todaydate"></span>
            </td>
            <td>
              <button type="submit" id="add" class="mb-2 btn btn-primary">
                <i class='fas fa-plus me-1'></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tbody id="Transport">
          <!-- This will be automatically filled -->
        </tbody>
      </table>
    </div>
  </div>
</div>
